<!-- hero section starts -->
<section class="home" id="home">
    <div id="particles-js"></div>
    <div class="content">
        <h2>Hi There,<br /> I'm <span>Nishit M</span></h2>
        <p>i am into <span class="typing-text"></span></p>
        <a href="#about" class="btn"><span>About Me</span>
            <i class="fas fa-arrow-circle-down"></i>
        </a>
        <div class="socials">
            <ul class="social-icons">
                <li><a class="linkedin" aria-label="LinkedIn" href={{linkedinLink}} target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a class="github" aria-label="GitHub" href={{githubLink}} target="_blank"><i
                            class="fab fa-github"></i></a></li>
                <li><a class="twitter" aria-label="X" href={{xLink}} target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a class="mail" aria-label="Mail" href={{gmailLink}}><i class="fas fa-envelope"></i></a></li>
                <li><a class="whatsapp" aria-label="Whatsapp" href={{whatsappLink}} target="_blank"><i
                            class="fab fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="image">
        <img draggable="false" class="tilt" src="assets/images/nishit-home.png" alt="">
    </div>
</section>
<!-- hero section ends -->