<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="assets/images/nishit-pp.jpg" alt="">
        </div>
        <div class="content">
            <h3>I'm Nishit M</h3>
            <span class="tag">Full Stack Developer</span>

            <p>
                I am a seasoned Full-Stack Developer based in Bangalore, India, with over 3 years of experience in
                designing, developing, and maintaining scalable web applications.
                Currently, I am working as an Software Developer at OpenText, where I specialize in using
                Java, Angular, and Spring Boot to create robust, high-performance applications.
                I am passionate about continuous learning, improving my technical skills, and developing innovative
                solutions that deliver real-world impact.
                My expertise spans building responsive UIs, developing and integrating RESTful APIs, optimizing database
                interactions, and ensuring application security through secure coding practices.
                Additionally, I have hands-on experience with Microservices architecture, CI/CD pipelines, and cloud
                platforms like Microsoft Azure, which allows me to deliver efficient and secure cloud-based solutions.
            </p>

            <div class="box-container">
                <div class="box">
                    <p><span> email : </span> nishitmohanasundaram&#64;gmail.com</p>
                    <p><span> place : </span> Bangalore, India</p>
                </div>
            </div>

            <div class="resumebtn">
                <a href="" target="_blank" class="btn"><span>Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>