<section class="about" id="about">
    <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

    <div class="row">

        <div class="image">
            <img draggable="false" class="tilt" src="assets/images/nishit-pp.jpg" alt="">
        </div>
        <div class="content">
            <h3>I'm Nishit M</h3>
            <span class="tag">Full Stack Developer</span>

            <p>I am a Full-Stack developer based in Coimbatore, India.
                I am an Associate Software Developer working in Opentext.
                I am very passionate about improving my skills & developing applications.
                Working for myself to improve my skills.
            </p>

            <div class="box-container">
                <div class="box">
                    <p><span> email : </span> nishitmohanasundaram@gmail.com</p>
                    <p><span> place : </span> Coimbatore, India - 600033</p>
                </div>
            </div>

            <div class="resumebtn">
                <a href="" target="_blank" class="btn"><span>Resume</span>
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>

        </div>
    </div>
</section>