/* You can add global styles to this file, and also import other style files */
.bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('assets/images/dashboard.jpg');
}

/* media queries */

@media (max-width: 991px) {

  }
  @media (max-width: 768px) {  
    html {
        font-size: 70%;
      }
  }
  
  @media (max-width: 450px) {    
    html {
        font-size: 40%;
      }
  }
  