<section class="experience" id="experience">
    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>

    <div class="timeline">
        @for (exp of experiencesData; let i = $index; track i) {
        <div [ngClass]="i % 2 === 0 ? 'container left' : 'container right'">
            <div class="content">
                <div class="tag">
                    <h2>{{ exp.title }}</h2>
                </div>
                <div class="desc">
                    <h3>
                        {{ exp.role }} at
                        <strong>
                            <a [href]="exp.webLink" target="_blank" rel="noopener noreferrer">
                                {{ exp.company }}
                            </a>
                        </strong>
                    </h3>
                    <p><em>{{ exp.duration }}</em></p>
                    <br>
                    <ul>
                        <li *ngFor="let responsibility of exp.responsibilities">
                            {{ responsibility }}
                        </li>
                    </ul>
                    <br>
                    <p><strong>Location:</strong> {{ exp.place }}
                        <span *ngIf="exp.key !== 'TCS'">, {{ exp.state }}</span>
                    </p>
                </div>
            </div>
        </div>
        }
    </div>
</section>