<section class="skills" id="skills">
    <h2 class="heading">
        <i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span>
    </h2>

    <div class="container">
        <div class="row" id="skillsContainer">
            @for(skill of this.skillsData;track $index ){
            <div class="bar">
                <div class="info">
                    <img [src]="skill.icon" alt="skill" />
                    <span>{{ skill.name }}</span>
                </div>
            </div>
            }
        </div>
    </div>
</section>